---
import DefaultLayout from "../components/LayoutDefault.astro";
import { yearsInIndustry } from "../js/yearsInIndustry";
import DevLogo, { devIcons } from "../components/DevLogo.astro";
import TimelineItem from "../components/TimelineItem.astro";
---

<DefaultLayout
  documentTitle="About"
  documentDescription="I'm Umama, a Computer Engineering student based in the Canada with over {yearsInIndustry} years of experience building software."
>
  <section class="container">
    <h1 class="main-heading text-swipe-animation" id="greeting">
      <!-- Value inserted via greeting.js -->
    </h1>
    <div class="intro">
      <p>
        I'm Umama, a Computer Engineering student based in the Canada with over {
          yearsInIndustry
        } years of experience building software.
      </p>
    </div>

    <div class="main-section">
      <img class="profile-photo" src="/images/me.jpg" alt="Umama Rahman" />
      <div class="main-section-text">
        <p>
          I am a skilled software developer with experience in back-end
          development, databases, and full-stack application development. I have
          a strong command over Python, Flask, FastAPI, SQL, and PostgreSQL,
          enabling me to build powerful APIs and effectively manage data.
        </p>
        <p>
          I am proficient in technologies like React, AngularJS, NodeJS, and
          PHP, which allow me to create user-friendly web applications.
          Additionally, I have hands-on experience with AWS, including
          Terraform, EKS, and AWS Lambda, where I have successfully set up cloud
          infrastructure.
        </p>
        <p>
          With my versatile skill set, I am well-prepared to contribute to
          software engineering roles.
        </p>
      </div>
    </div>
  </section>

  <section class="container">
    <p></p>
    <h2 class="sub-heading">Experience</h2>

    <div class="timeline-items">
      <TimelineItem
        isCurrent
        company="Canadian Pension Plan Investment Board"
        workLocation="Toronto, ON"
        title="Data Engineering Intern"
        startDate="Jan 2023"
        endDate="Apr 2023"
        logo="/images/cppib.jpeg"
        responsibilities={[
          "Streamlined high-performance big data ingestion by interfacing with Bloomberg SFTP servers (AWS Lambda, S3) and triggering Airflow jobs for transformations and loading (AWS EMR, PySpark, Parquet) into the data warehouse.",
          "Developed a scalable microservice architecture to collect and process macro data on specific tickers, enabling real-time progress monitoring, SLA breach notifications, and timely data for business investment decisions (CloudWatch, Athena).",
          "Improved data awareness, quality and monitoring by implementing configurable data checks to onboard new datasets, enabling users to receive automated reports on data readiness and quality issues (EventBridge, CronJob, SNS, DynamoDB).",
          "Led the Quality Engineering Initiative, increasing unit test coverage to over 50%, implementing automatic code scanning and alerts for best practices, cutting unit test times by half (PyTest, Unit test, SonarQube, GitHub Actions).",
        ]}
      />

      <TimelineItem
        company="Canadian Pension Plan Investment Board"
        workLocation="Toronto, ON"
        title="Software Engineering Intern"
        startDate="May 2023"
        endDate="Aug 2023"
        logo="/images/cppib.jpeg"
        responsibilities={[
          "Engineered an automated server-less system (Lambda, API Gateway, Aurora, Terraform) for real-time order checks in a heavily regulated environment. Reduced post-trade review time by 3 days through streamlined compliance checks.",
          "Enhanced Excel plugin (Python, PyXll, Redis) to deliver hedge fund datasets/risk metrics and complex functions directly into Excel. Pulled data from (MongoDB, NoSQL, MySQL, Athena) databases for precise analysis/decision-making.",
          "Designed and built backend (Java, Spring Boot, RDS, Gradle) for internal trade order and portfolio analysis tool.",
          "Created CI/CD pipelines (IBM UrbanCode Deploy, Jenkins) for DEV and UAT environment of new applications onto Linux machines and enhanced overall workflow and streamlined job management (JAMS Scheduler).",
        ]}
      />

      <TimelineItem
        company="Canadian Pension Plan Investment Board"
        workLocation="Toronto, ON"
        title="Software Engineering Intern"
        startDate="Sep 2022"
        endDate="Dec 2022"
        logo="/images/cppib.jpeg"
        responsibilities={[
          "Developed/maintained back-end API (Python, Flask, FastAPI) and leveraged databases (SQL, PostgreSQL) for portfolio performance applications. Used Postman and JSON to interact with endpoints.",
          "Deployed web applications (Kubernetes, EKS, ArgoCD) and set up ETL tasks for performance attribution calculation tools with AWS services (EC2, Lambda, S3, ELB, Route 53). Certification: AWS - Certified Cloud Practitioner.",
          "Collaborated with business teams to understand their needs and develop applications to support portfolio management of the company’s public investments by effectively communicating and coordinating with stakeholders (Confluence).",
        ]}
      />

      <TimelineItem
        company="Achievers LLC"
        workLocation="Toronto, ON"
        title="Software Developer Co-op"
        startDate="Jan 2022"
        endDate="Apr 2022"
        logo="/images/achievers.webp"
        responsibilities={[
          "Debugged and resolved technical issues in front-end (React, AngularJS, NodeJS) and back-end (PHP, MySQL, PostgreSQL) of Achievers platform. Ensured optimal user experience through QA testing.",
          "Maintained web applications (JavaScript, HTML5, CSS, Docker), enhanced reporting team’s functionalities, and implemented new features with unit testing for improved code quality and reliability.",
          "Actively engaged in agile software development, including sprint planning, story point estimations, and daily scrum meetings. Collaborated with cross-functional teams to deliver high-quality results with documentation (Jira, Git, Confluence).",
        ]}
      />

      <TimelineItem
        company="Functional & Anatomical Imaging & Shape Analysis Lab"
        workLocation="St. John's, NL"
        title="Full-Stack Software Developer (Part-time)"
        startDate="Jan 2022"
        logo="/images/faisal.jpeg"
        responsibilities={[
          "Built GPU allocation tool with MUTEX database (SQLite) for seamless user experience.",
          "Implemented Python wrapper for efficient utilization of rsync commands on Linux machines.",
          "Leveraged Bash scripting to allocate permissions on Linux machines, utilizing SQLite database configuration.",
        ]}
      />
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .main-section {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    align-items: center;
  }

  .profile-photo {
    width: 200px;
  }

  /* Marquee styles */
  .marquee {
    --gap: 1.5rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    margin: 3.5rem 0;
    &:hover {
      .marquee-content {
        animation-play-state: paused;
      }
    }
  }

  .marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 30s linear infinite reverse;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  /* Pause animation when reduced-motion is set */
  @media (prefers-reduced-motion: reduce) {
    .marquee-content {
      animation-play-state: paused !important;
    }
  }

  .sub-heading {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .timeline-items {
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
  }

  @media screen and (max-width: 980px) {
    .main-section {
      gap: 1rem;
      display: block;
      word-break: break-word;
    }

    .profile-photo {
      float: left;
      width: 152px;
      margin: 10px;
    }

    :global(.devicon) {
      width: 45px !important;
      height: 45px !important;
    }
  }
</style>

<script hoist>
  import { greeting } from "../js/greeting";
  const greetingContainer = document.getElementById("greeting");
  greetingContainer.innerText = greeting();
</script>
